<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>perguntas</title>
    <link rel="stylesheet" href="../style.css">


</head>
<body>
    <img src="../img/socib.jpg" 
    height="50"
    maxheight="100">

    <h1>Guia de perguntas</h1>
    <hr>
    <h3>Lista de perguntas</h3>
    <p> Nome: <%= nome %></p> 
    <hr>
    <p>Linguagem: <%= lang %></p>
    <hr>
    <p>Empresa: <%= empresa %></p>
    <hr>
    <p>Inscritos: <%= inscritos %></p>
    <hr>
    <% if(msg == true){%>
        <h3>Isso e uma msg de erro</h3>
    <%} else {%>
        <h3>nenhum erro </h3>
    <%}%>
    
    <% produtos.forEach(function(produtos){%>
        <hr>
            <h3><%= produtos.nome%></h3> 
            <h3><%= produtos.peso%></h3> 
            <h3><%= produtos.valor%></h3> 
            <h3><%= produtos.litros%></h3> 
    <%}) %>

  
    </body>
</html> -->